// Для импорта в диспетчер подключений: @import './../_source_dev/less/blocks/catalog.less';


.catalog {
  padding: 4em 0 10em;

  .catalog_list {
    display: grid;
    grid-template-columns: repeat(4, 23.8%);
    grid-gap: 4.5em 1.4em;

    .catalog_card {
      width: 100%;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #fff;
      border: 1px solid @blue;
      position: relative;

      .catalog_card_link {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &:hover {
        .text_box {
          background-color: @blue;
        }
        .title_box:after {
          background-color: #fff;
        }
        .text, .title {
          color: #fff;
        }
        .img_wrapper .hover {
          opacity: 1 !important;
        }
      }

      .img_wrapper {
        position: relative;
        border-bottom: 1px solid @blue;
        height: 22em;
        overflow: hidden;

        .hover {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(0,0,0,.5);
          transition: .3s;
          opacity: 0;

          svg {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 5.2em;
            fill: none;
            opacity: .8;
          }
        }
      }

      .text_box {
        padding: 0 1em;
        transition: .3s;
        min-height: 16em;
        width: 100%;
      }

      .title {
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;
        transition: .3s;
        max-height: 7em;
        overflow: hidden;
        width: 100%;
      }
      .title_box {
        position: relative;

        &:after {
          content: '';
          display: inline-block;
          width: 4em;
          height: 2px;
          position: absolute;
          bottom: -.7em;
          left: 50%;
          transform: translateX(-50%);
          background-color: @blue;
          transition: .3s;
        }
      }
      .text {
        transition: .3s;
        max-height: 7em;
        overflow: hidden;
      }
      .link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }


  &--applicazioni {
    .catalog_list .catalog_card {
      .title_box {
        &:after {
          display: none;
        }
      }

      .img_wrapper {
        height: 16.3em;
      }
      .text_box {
        height: 8em;
        min-height: initial;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

}
